<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/ender554">Josh Adams</a> A former university CS student trying to make it to the job market with a web dev course.
  </p>
  <br />
  <p>
    The Firehose Project should get me to the level of junior developer
  </p>
  <p>
    If you want to learn how to code -  <a target="_blank" href="http://www.thefirehoseproject.com/">start here</a>.
  </p>
</div>
<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'josh.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Josh Adams</h2>
    <br />
    <p>
      Josh Adams holds an AA and an AS from Pima College in Tucson AZ. He has also finished 3 years of a CS degree and a Math minor from the University of Arizona. Unfortunately funding had run out an dis now trying his hand to become employable via The Firehose Project
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />